<div class="card">
    <div class="card-body">
        <h1>ABOUT</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat voluptate, recusandae tempora quo dolorum dolore atque rerum suscipit. Enim ex officia accusantium quo eius tenetur nam ad, laboriosam molestiae consectetur commodi nisi aliquid ipsum ut temporibus recusandae quae voluptate in.</p>
    </div>
</div>