<!-- Initial page -->

<div class="jumbotron mt-4">
    <h1 class="display-4">Geolocation</h1>
    <p class="lead">Watch your location in real time</p>
    <style>
        #map{
            height: 400px;
            width: 100%;
        }
    </style>
    <body>
        <div id="map">
        <h1>My google map</h1>        
        </div>
        <script>
            function initMap() {
                var options = {
                    zoom: 8, 
                    center: {lat: 6.25184, lng: -75.56359}
                }

                var map = new google.maps.Map(document.getElementById('map'), options);
                
            }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPv5GGKBYApPBO-zFagIB1uKUHfnOWDAo&callback=initMap">
        </script>
    </body>
    <hr class="my-4">
    <p>Please, login or sign up to the app so you can start tracking and saving your routes.</p>
</div>