<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<div class="jumbotron mt-4">
    <h1 class="display-4">Hey there {{user.user}}!</h1>
    <input type="hidden" id="userDB" value="{{user._id}}"/>
    <p class="lead">Here you can save your routes and visualize later where you have been</p>
    <style>
        #map{
            height: 400px;
            width: 100%;
        }
    </style>
    <body>
        <div id="map">
        <h1>My google map</h1>        
        </div>
        <script>
            var map, infoWindow, watchID, routeId, socket;
            
            /**
            * Initializes the map for its visualization
            * Its center point is in Medellin
            */
            function initMap() {
                var options = {
                    zoom: 8, 
                    center: {lat: 6.25184, lng: -75.56359}
                }
                document.getElementById('btnStopRec').disabled = true;
                map = new google.maps.Map(document.getElementById('map'), options);
                infoWindow = new google.maps.InfoWindow;
            }

            /**
            * By a socket, it starts tracking the current position
            * and sends it to the database
            * Each localization has a position and returns latitude and longitude
            * Also, a marker is created in each point
            *
            * If no location, returns error
            */
            function startRecording(){
                var socket = io();
                document.getElementById('btnStartRec').disabled = true;
                document.getElementById('btnStopRec').disabled = false;
                socket.emit('new route', {user: document.getElementById('userDB').value, name: document.getElementById('routeName').value });

                if (navigator.geolocation) {
                    watchID = navigator.geolocation.watchPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        socket.emit('new point',{latitude: pos.lat, longitude: pos.lng, user: document.getElementById('userDB').value});
                        var marker = new google.maps.Marker({ 
                            position: pos,
                            map:map 
                        });
                    }, function(){
                        handleLocationError(true, infoWindow, map.getCenter());
                    });                    
                } else {
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            /**
            * Stops sending points with current route ID
            */
            async function stopRecording(){
                navigator.geolocation.clearWatch(watchID);
                document.getElementById('btnStartRec').disabled = false;
                document.submitForm.submit();
            }

            /**
            * If errors while tracking the position, an info window is displayed
            * with the error
            */
            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPv5GGKBYApPBO-zFagIB1uKUHfnOWDAo&callback=initMap">
        </script>
    </body>
    <hr class="my-4">
    <div class="col-md-4 mx-auto">
        <div class="form-group">
            <input type="text" id="routeName" class="form-control" placeholder="Route name" autofocus required>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block" id="btnStartRec" onclick="startRecording()">Start record</button>
        </div>

        <form name="submitForm" action="/localization/share-loc" method="POST">
        </form>
        
        <div class="form-group">
            <button class="btn btn-primary btn-block" id="btnStopRec" onclick="stopRecording()">Stop record</button>
        </div> 
    </div>
</div>